/* Font */

@font-face {
    font-family: "Roboto";
    src: url(Roboto/Roboto-Black.ttf);
    src: url(Roboto/Roboto-BlackItalic.ttf);
    src: url(Roboto/Roboto-Bold.ttf);
    src: url(Roboto/Roboto-BoldItalic.ttf);
    src: url(Roboto/Roboto-Italic.ttf);
    src: url(Roboto/Roboto-Light.ttf);
    src: url(Roboto/Roboto-LightItalic.ttf);
    src: url(Roboto/Roboto-Medium.ttf);
    src: url(Roboto/Roboto-MediumItalic.ttf);
    src: url(Roboto/Roboto-Regular.ttf);
    src: url(Roboto/Roboto-Thin.ttf);
    src: url(Roboto/Roboto-ThinItalic.ttf);
}

/* Main elements */

body
{
    font-family: "Roboto-Regular", sans-serif;
}

/* Header */

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 115px;
}

header img
{
    width: 170px;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#location
{
    height: 50px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#location i
{
    padding-right: 15px;
}