/* Font */

@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto/Roboto-Black.ttf);
    src: url(Fonts/Roboto/Roboto-BlackItalic.ttf);
    src: url(Fonts/Roboto/Roboto-Bold.ttf);
    src: url(Fonts/Roboto/Roboto-BoldItalic.ttf);
    src: url(Fonts/Roboto/Roboto-Italic.ttf);
    src: url(Fonts/Roboto/Roboto-Light.ttf);
    src: url(Fonts/Roboto/Roboto-LightItalic.ttf);
    src: url(Fonts/Roboto/Roboto-Medium.ttf);
    src: url(Fonts/Roboto/Roboto-MediumItalic.ttf);
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
    src: url(Fonts/Roboto/Roboto-Thin.ttf);
    src: url(Fonts/Roboto/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: "Shrikhand";
    src: url(Fonts/Shrikhand/Shrikhand-Regular);
}


/* Main elements */

body
{
    font-family: "Roboto-Regular", sans-serif;
}

h1
{
    font-size: 23px;
    font-weight: bold;
}


/* Section 1 : website's navigation + function */

#main-title
{
    height: 285px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px;
    border-radius: 50px;
    border: 2px solid #eaeaea;
}

#main-title h1
{
    padding-left: 60px;
    padding-right: 60px;
}

#main-title h2
{
    font-size: 20px;
    opacity: 50%;
    line-height: 20px;
    padding: 20px 40px 35px 40px;
}

#navigation
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#function
{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 30px;
    border-radius: 50px;
    border: 2px solid #eaeaea;
}

#function h1
{
    padding: 15px 0 20px 0;
    text-align: center;
}

#function-list
{
    display: flex;
    flex-direction: column;
}

.list-nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.list-title
{
    border-radius: 20px;
    box-shadow: 0.1em 0.1em 0.7em rgb(218, 216, 216);
    background-color: #f6f6f6;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    margin-bottom: 25px;
}

.list-title p
{
    padding-right: 45px;
}

.list-title i
{
    padding-left: 10px;
    font-size: 20px;
}

.list-number
{
    background-color: #9356DC;
    color: white;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
}