/* Font */

@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto/Roboto-Black.ttf);
    src: url(Fonts/Roboto/Roboto-BlackItalic.ttf);
    src: url(Fonts/Roboto/Roboto-Bold.ttf);
    src: url(Fonts/Roboto/Roboto-BoldItalic.ttf);
    src: url(Fonts/Roboto/Roboto-Italic.ttf);
    src: url(Fonts/Roboto/Roboto-Light.ttf);
    src: url(Fonts/Roboto/Roboto-LightItalic.ttf);
    src: url(Fonts/Roboto/Roboto-Medium.ttf);
    src: url(Fonts/Roboto/Roboto-MediumItalic.ttf);
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
    src: url(Fonts/Roboto/Roboto-Thin.ttf);
    src: url(Fonts/Roboto/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: "Shrikhand";
    src: url(Fonts/Shrikhand/Shrikhand-Regular);
}

/* Main elements */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gray-color: #eaeaea;
$lightgray-color: #f6f6f6;
$white-color: white;

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flexSpaceBet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body
{
    font-family: "Roboto-Regular", sans-serif;
}

h1
{
    font-size: 23px;
    font-weight: bold;
}

/* Header */

#header-mainpage
{
    @include flexColumn();
    height: 95px;
    padding-top: 20px;
}

header img
{
    width: 170px;
    height: 30px;
}

#location
{
    height: 50px;
    width: 100%;
    background-color: $gray-color;
    @include flexRow();
    color: #3a3a3a;
    font-weight: bold;
    margin-top: 12px;
}

#location i
{
    padding-right: 15px;
}

/* Section 1 : explore button */

#main-title
{
    height: 285px;
    @include flexColumn();
    background-color: $lightgray-color;
    text-align: center;
    margin: 0;
}

#main-title h1
{
    padding-left: 60px;
    padding-right: 60px;
}

#main-title h2
{
    font-size: 20px;
    opacity: 50%;
    line-height: 20px;
    padding: 20px 40px 35px 40px;
}

/* buttons */

.btn
{
    height: 50px;
    width: 215px;
    border-radius: 50px;
    color: $white-color;
    font-size: 15px;
    background: linear-gradient($primary-color, $secondary-color);
    border: none;
        a{
        text-decoration: none;
        color: $white-color;
        }
            &--order{
            width: 185px;
            margin: 45px auto 0 auto;
            display: table;
            }
            &:hover{
                background: linear-gradient(170deg, lighten($secondary-color, 8%), lighten($primary-color, 8%));

            }
}

/* Section 2 : website's explanation */

#function {
    height: 420px;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
        h1 {
        padding: 50px 0 30px 0;
        }
}

#function-list
{
    @include flexColumn();
}

.list-nav
{
    @include flexRow();
}

.list-title
{
    border-radius: 20px;
    box-shadow: 0.1em 0.1em 0.7em rgb(218, 216, 216);
    background-color: $lightgray-color;
    height: 70px;
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    margin-bottom: 25px;
}

.list-title p
{
    padding-right: 45px;
}

.list-title i
{
    padding-left: 10px;
    font-size: 20px;
}

.list-number
{
    background-color: $primary-color;
    color: $white-color;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
}

/* Section 3 : cards */

#restaurants
{
    height: 1220px;
    background-color: $lightgray-color;
    padding: 0 20px 0 20px;
    @include flexColumn();
}

#restaurants a
{
    text-decoration: none;
    color: black;
}

#restaurants h1
{
    padding: 60px 0 30px 0;
    align-self: flex-start;
}

#restaurants figure
{
    width: 335px;
    background-color: $white-color;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
}

#restaurants img
{
    height: 175px;
    width: 335px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

figcaption
{
    color: #219b7c;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: $tertiary-color;
    padding: 7px 10px;
    font-size: 13px;
    font-weight: bold;
}

.card-title
{
    @include flexSpaceBet();
    padding: 10px 25px 10px 15px;
}

.card-title i
{
    font-size: 25px;
    color: #7f7f7f;
}

.card-restaurant
{
    line-height: 25px;
}

.restaurant-name
{
    font-weight: bold;
}

/* Footer */

footer
{
    padding: 0 20px 0 20px;
    background-color: #353535;
    color: #f7f7f7;
    height: 200px;
}

footer img
{
    height: 18px;
    padding: 20px 0 10px 0;
    filter: invert(100%);
}

footer i
{
    font-size: 13px;
}

.fa-utensils
{
    padding-right: 13px;
}

.fa-hands-helping
{
    padding-right: 8px;
}

footer li
{
    line-height: 27px;
}

footer a
{
    text-decoration: none;
    color: $white-color;
}

/* Pages differences : header */

.logo-pages img
{
    width: 150px;
    height: 25px;
}

.header-nav
{
    @include flexSpaceBet();
    width: 100%;
    height: 60px;
}

.header-nav i
{
    font-size: 20px;
    padding-left: 50px;
}

header a
{
    color: black;
}

/* Pages differences : main img */

.main-img
{
    height: 265px;
    width: 100%;
    object-fit: cover;
}

/* Pages differences : menu */

.main-title
{
    @include flexSpaceBet();
    font-size: 30px;
    font-style: italic;
    font-family: Shrikhand;
}

.menu
{
    background-color: $lightgray-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 40px 20px 60px 20px;
}

.menu h2
{
    text-transform: uppercase;
    border-bottom: 3px solid $tertiary-color;
    width: 42px;
    padding: 30px 0 5px 0;
}

.menu-container
{
    background-color: $white-color;
    border-radius: 15px;
    padding: 10px;
    line-height: 23px;
}

.menu-container:nth-child(2), .menu-container:nth-child(3), .menu-container:nth-child(4)
{
    margin: 10px 0 10px 0;
}

.menu-maintitle
{
    font-weight: bold;
    font-size: 18px;
}

.menu-subtitle
{
    @include flexSpaceBet();
    font-size: 15px;
}

.menu-subtitle div
{
    font-weight: bold;
}

/* Animations */

/* 

.loadingspinner-container {
    position: relative;
}

.loading-spinner {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
}

.loading-spinner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $white-color;
    opacity: 1;
}

.loading-spinner::after {
    box-sizing: border-box;
    z-index: 1;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #FF79DA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 1s linear infinite;
}

@keyframes custom-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 
*/