@import "./utils/variables";
@import "./utils/mixins";
@import "./base/font-face";
@import "./base/typography";
@import "./layouts/header";
@import "./layouts/footer";
@import "./components/buttons";

/* Section 1 : explore button */

#main-title{
    height: 285px;
    @include flexColumn();
    background-color: $lightgray-color;
    text-align: center;
    margin: 0;
        h1{
            padding: 0 60px 0 60px;
        }
            h2{
                opacity: 50%;
                padding: 20px 40px 35px 40px;
            }
}

/* Section 2 : website's explanation */

#function{
    height: 420px;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
        h1 {
            padding: 50px 0 30px 0;
        }
}

#function-list{
    @include flexColumn();
}

.list-nav{
    @include flexRow();
}

.list-title{
    border-radius: 20px;
    @include box-shadow();
    background-color: $lightgray-color;
    height: 70px;
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
        p{
            padding-right: 45px;
        }
            i{
                padding-left: 10px;
            }
}

.list-number{
    background-color: $primary-color;
    color: $white-color;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-bottom: 25px;
}

/* Section 3 : cards */

#restaurants{
    height: 1220px;
    background-color: $lightgray-color;
    padding: 0 20px 0 20px;
    @include flexColumn();
    a{
        text-decoration: none;
        color: black;
    }
        h1{
            padding: 60px 0 30px 0;
            align-self: flex-start;
        }
            figure{
                width: 335px;
                background-color: $white-color;
                border-radius: 20px;
                margin-bottom: 20px;
                position: relative;
                @include box-shadow();
            }
                img{
                    height: 175px;
                    width: 335px;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
}

figcaption{
    color: #219b7c;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: $tertiary-color;
    padding: 7px 10px;
}

.card-title{
    @include flexSpaceBet();
    padding: 10px 25px 10px 15px;
}

/* Pages differences : main img */

.main-img{
    height: 265px;
    width: 100%;
    object-fit: cover;
}

/* Pages differences : menu */

.main-title{
    @include flexSpaceBet();
}

.menu{
    background-color: $lightgray-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 40px 20px 60px 20px;
        h2{
            border-bottom: 3px solid $tertiary-color;
            width: 42px;
            padding: 30px 0 5px 0;
        }
}

.menu-container{
    background-color: $white-color;
    border-radius: 15px;
    padding: 10px;
    @include box-shadow();
        :nth-child(2), :nth-child(3), :nth-child(4){
            margin: 10px 0 10px 0;
        }
}

.menu-subtitle{
    @include flexSpaceBet();
}

/* Animations */

/* 

.loadingspinner-container {
    position: relative;
}

.loading-spinner {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
}

.loading-spinner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $white-color;
    opacity: 1;
}

.loading-spinner::after {
    box-sizing: border-box;
    z-index: 1;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #FF79DA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 1s linear infinite;
}

@keyframes custom-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 
*/