/* Section 2 : website's explanation */

#function{
    height: 420px;
    margin: 30px 20px 0 20px;
    display: flex;
    flex-direction: column;
    @include respond(tablet){
        height: 285px;
        width: 50%;
        border-radius: 50px;
        border: 2px solid $lightgray-color;
    }
        h1 {
            padding: 50px 0 30px 0;
            @include respond(tablet){
                padding: 20px 0 20px 0;
                text-align: center;
            }
        }
}

#function-list{
    @include flexColumn();
}

.list{
    @include flexRow;
    align-items: center;
    margin-bottom: 20px;

    &__title{
        position: relative;
        left: -10px;
        border-radius: 20px;
        @include box-shadow();
        background-color: $lightgray-color;
        height: 75px;
        width: 325px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
            @include respond(tablet){
                height: 50px;
                width: 350px;
            }
            @include respond(desktop){
                width: 480px;
            }
            @include respond(bigdesktop){
                width: 680px;
            }
                &:hover{
                    background-color: lighten($primary-color, 35%);
                        i{
                            color: $primary-color;
                        }
                }

    }

    &__number{
        background-color: $primary-color;
        color: $white-color;
        border-radius: 50px;
        width: 20px;
        height: 20px;
        z-index: 2;
        span{
            display: flex;
            justify-content: center;
            padding: 2px;
        }
    }
}