/* Section 2 : website's explanation */

#function{
    height: 420px;
    margin: 30px 20px 0 20px;
    display: flex;
    flex-direction: column;
    @include respond(tablet){
        height: 285px;
        width: 50%;
        border-radius: 50px;
        border: 2px solid $lightgray-color;
    }
        h1 {
            padding: 50px 0 30px 0;
            @include respond(tablet){
                padding: 20px 0 20px 0;
                text-align: center;
            }
        }
}

#function-list{
    @include flexColumn();
}

.list-nav{
    @include flexRow();
}

.list-title{
    border-radius: 20px;
    @include box-shadow();
    background-color: $lightgray-color;
    height: 70px;
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    @include respond(tablet){
        height: 50px;
        width: 300px;
    }
        p{
            padding-right: 45px;
        }
            i{
                padding-left: 10px;
            }
}

.list-number{
    background-color: $primary-color;
    color: $white-color;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-bottom: 25px;
}