/* Section 1 : explore button */

#main-title{
    height: 285px;
    @include flexColumn();
    background-color: $lightgray-color;
    text-align: center;
    margin: 0;
        h1{
            padding: 0 60px 0 60px;
        }
            h2{
                opacity: 50%;
                padding: 20px 40px 35px 40px;
            }
}