/* Pages differences : main img */

.main-img{
    height: 260px;
    width: 100%;
    object-fit: cover;
}

/* Pages differences : menu */

.main-title{
    @include flexSpaceBet();
}

.menu{
    background-color: $lightgray-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 40px 20px 60px 20px;
    transform: translateY(-40px);
        h2{
            border-bottom: 3px solid $tertiary-color;
            width: 42px;
            padding: 30px 0 5px 0;
            margin-bottom: 15px;
        }
            .menu-container{
                background-color: $white-color;
                border-radius: 15px;
                @include box-shadow();
                opacity: 0;
                animation: fadein 1s forwards;
                display: flex;
                flex-direction: row;
                height: 70px;
                    &:hover .slider{
                        background-color: $tertiary-color;
                        border-bottom-right-radius: 15px;
                        border-top-right-radius: 15px;
                        overflow: hidden;
                        transition: .5s ease;
                        width: 60px;
                        position: relative;
                    }
                        &:hover .slider i{
                            display: block;
                            animation: spin 1.5s;
                        }
                            &:hover .name > div{
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                width: 85%;
                                height: 100%;
                            }
            }
                .menu-information{
                    @include flexSpaceBet();
                    flex: 1;
                    padding: 10px;
                }
                    .slider i{
                        color: white;
                        font-size: 20px;
                        display: none;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        animation: spin 1.5s;
                    }
                        .name{
                            text-overflow: ellipsis;
                            flex: 1;
                        }
                            .menu-price{
                                align-self: flex-end;
                                right: 15px;
                                bottom: 10px;
                            }
}

@keyframes spin{ 
    from{ 
        transform: translate(-50%, -50%) rotate(0deg);
    } 
    to{ 
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* fade in menu */ 

.menu-container:nth-child(2), .menu-container:nth-child(3), .menu-container:nth-child(4)
{
    margin: 10px 0 10px 0;
}

.menu-container:nth-child(1){
    animation-delay: 1s;
}

.menu-container:nth-child(2){
    animation-delay: 1.5s;
}

.menu-container:nth-child(3){
    animation-delay: 2s;
}

.menu-container:nth-child(4){
    animation-delay: 2.5s;
}

@keyframes fadein{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
