/* Pages differences : main img */

.main-img{
    height: 260px;
    width: 100%;
    object-fit: cover;
}

/* Pages differences : menu */

.main-title{
    @include flexSpaceBet();
}

.menu{
    background-color: $lightgray-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 40px 20px 60px 20px;
    transform: translateY(-40px);
        h2{
            border-bottom: 3px solid $tertiary-color;
            width: 42px;
            padding: 30px 0 5px 0;
            margin-bottom: 15px;
        }
}

.menu-container{
    background-color: $white-color;
    border-radius: 15px;
    padding: 10px;
    @include box-shadow();
    opacity: 0;
    animation: fadein 1s forwards;
    @include flexSpaceBet();
    position: relative;
}

.menu-container:nth-child(2), .menu-container:nth-child(3), .menu-container:nth-child(4)
{
    margin: 10px 0 10px 0;
}

.menu-container:nth-child(1){
    animation-delay: 1s;
}

.menu-container:nth-child(2){
    animation-delay: 1.5s;
}

.menu-container:nth-child(3){
    animation-delay: 2s;
}

.menu-container:nth-child(4){
    animation-delay: 2.5s;
}

.menu-subtitle{
    transform-origin: left;
}

@keyframes fadein{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.slider{
    position: absolute;
    left: 100%;
    background-color: $tertiary-color;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    height: 66.8px;
    // transition: .5s ease;
    transform-origin: right;
    transition: transform 300ms 100ms linear;
}

.slider i{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    animation: spin 1.5s infinite;
    transform: scaleX(0);
}

.name{
    transition: width 300ms 100ms linear;
    width: 80%;
    transform: scaleX(1);
}

.menu-container:hover .slider{
    width: 70px;
    left: 82%;
}

.menu-price{
    transform-origin: right;
    transition: transform 300ms 100ms linear;
    align-self: flex-end;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

@keyframes spin{ 
    from{ 
        transform: rotate(0deg); 
    } 
    to{ 
        transform: rotate(360deg); 
    }
}

.text{
    text-overflow: ellipsis;
}

.text:hover{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}