.icon {
  fill: transparent;
  stroke: gray;
  stroke-width: 40px;
  cursor: pointer;
  position: relative;

svg {
    overflow: visible;
    width: 25px;
}

.heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}

.heart-main:hover path {
    animation: fill-heart 2s ease-in-out forwards;
  }
}

@keyframes fill-heart {
  0% {
    fill: transparent;
  }
  50% {
    fill: $primary-color;
    stroke: $primary-color;
  }
  100% {
    fill: $primary-color;
    stroke: $primary-color;
  }
}

