body{
    font-family: "Roboto-Regular", sans-serif;
}

h1{
    font-size: 23px;
    font-weight: bold;
}

#main-title h2
{
    font-size: 20px;
    line-height: 20px;
}

.list-title {
    font-weight: bold;
        i{
        font-size: 20px;
        }
}

.list-number{
    font-size: 14px;
}

figcaption{
    font-size: 13px;
    font-weight: bold;
}

.card-title i{
        font-size: 25px;
        color: #7f7f7f;
}

.card-restaurant{
    line-height: 25px;
}

.restaurant-name{
    font-weight: bold;
}

.main-title{
    font-size: 30px;
    font-style: italic;
    font-family: Shrikhand;
}

.menu h2{
    text-transform: uppercase;
}

.menu-maintitle{
    font-weight: bold;
    font-size: 18px;
}

.menu-container{
    line-height: 23px;
}

.menu-subtitle{
    font-size: 15px;
        div{
            font-weight: bold;
        }
}