body{
    font-family: "Roboto", sans-serif;
}

h1{
    font-size: 23px;
    font-family: Roboto-Bold, sans-serif;
    font-weight: bold;
}

h2{
    font-size: 18px;
    font-family: Roboto-Bold, sans-serif;
}

#main-title h2{
    font-size: 20px;
    line-height: 20px;
}

.header-nav i{
    font-size: 20px;
}

.list__title {
    font-family: Roboto-Bold, sans-serif;
        i{
        font-size: 20px;
        }
}

.list__number{
    font-size: 14px;
}

#location{
    font-weight: bold;
}

.figcaption{
    font-size: 13px;
    font-weight: bold;
}

.card-title i{
    font-size: 25px;
    color: #7f7f7f;
}

.card-restaurant{
    line-height: 25px;
}

.restaurant-name{
    font-family: Roboto-Bold, sans-serif;
    font-weight: bold;
}

.main-title{
    font-size: 30px;
    font-family: 'Shrikhand', cursive;
}

.menu h3{
    text-transform: uppercase;
}

.menu-maintitle{
    font-family: Roboto-Bold, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.menu-container{
    line-height: 23px;
}

.menu-subtitle{
    font-size: 15px;
}

.menu-price{
    font-family: Roboto-Bold, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

footer i{
    font-size: 13px;
}

.btn a, .btn--order{
    text-decoration: none;
    color: $white-color;
    font-size: 15px;
}