footer{
    padding: 0 20px 0 20px;
    background-color: $darkgray-color;
    color: $white-color;
    height: 200px;
    @include respond(tablet){
        padding: 0 30px 25px 30px;
        height: 100px;
    }
        img{
            height: 18px;
            padding: 20px 0 10px 0;
            filter: invert(100%);
            @include respond(tablet){
                text-align: center;
                margin: auto;
                display: flex;
            }
        }
            li{
                line-height: 27px;
            }
                a{
                    text-decoration: none;
                    color: $white-color;
                }
                    ul{
                        @include respond(tablet){
                            @include flexSpaceBet;
                            padding-left: 30px;
                            padding-right: 30px;
                        }
                        @include respond(desktop){
                            padding-left: 80px;
                            padding-right: 80px;
                        }
                    }
}

.fa-utensils{
    padding-right: 13px;
}

.fa-hands-helping{
    padding-right: 8px;
}