/* Main page */ 
#header-mainpage{
    @include flexColumn();
    height: 95px;
    padding-top: 20px;
    @include respond(tablet){
        height: 150px;
        padding-top: 40px;
    }
}

header img{
    width: 170px;
    height: 30px;
    @include respond(tablet){
        width: 250px;
        height: 50px;
    }
}

#location{
    height: 50px;
    width: 100%;
    background-color: $gray-color;
    @include flexRow();
    color: $darkgray-color;
    margin-top: 12px;
        i{
            padding-right: 15px;
        }
        @include respond(tablet){
            height: 70px;
            margin-top: 30px;
        }
}

/* Pages differences : header */

.header-nav{
    @include flexSpaceBet();
    width: 100%;
    height: 60px;
    @include respond(tablet){
        margin: 10px;
    }
        i{
            padding-left: 50px;
        }
            a{
                color: $black-color;
            }
                img{
                    width: 150px;
                    height: 25px;
                    @include respond(tablet){
                        height: 30px;
                    }
                }
}

#navigation
{
    @include respond(tablet){
    display: flex;
    flex-direction: row;
    align-items: center;
}
}