/* Main page */ 
#header-mainpage{
    @include flexColumn();
    height: 95px;
    padding-top: 20px;
    @include respond(tablet){
        height: 150px;
        padding-top: 40px;
    }
    img{
        width: 170px;
        height: 30px;
        @include respond(tablet){
            width: 250px;
            height: 50px;
        }
    }
}

#location{
    height: 50px;
    width: 100%;
    background-color: $gray-color;
    @include flexRow();
    color: $darkgray-color;
    margin-top: 12px;
        i{
            padding-right: 15px;
        }
        @include respond(tablet){
            height: 70px;
            margin-top: 30px;
        }
}

/* Pages differences : header */

.header-nav{
    position: relative;
    top: 15px;
    .btn-logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    i{
        padding-left: 30px;
        padding-right: 120px;
        @include respond(tablet){
            padding-right: 250px;
        }
        @include respond(desktop){
            padding-right: 385px;
        }
    }
        a{
            color: $black-color;
        }
            h1{
                font-family: 'Shrikhand', cursive;
                font-size: 30px;
            }
                img{
                    width: 150px;
                    height: 25px;
                    @include respond(tablet){
                        height: 30px;
                    }
                }
}